*{ 
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

img{
  width: 100%;
  height: auto;
}

body{
    background: url(fondos/fondo-naranja2.png);
}
 
/*Header*/
nav{
    background: white;
    height: 80px; 
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
}

.enlace{
    position: absolute;
    padding: 0px 25px;
}

.logo{
    height: 85px;
    display: inline-flex;
}

nav ul{
    float: right;
    margin-right: 20px;
    z-index: 2;
}

nav ul li{
    display: inline-block;
    line-height: 40px;
    margin: 0 5px;
}

.checkbtn{
    font-size: 30px;
    color: black;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}

.btm{
    height: 50px;
    color: white;
    font-size: 17px;
    padding: 10px 13px;
    border-radius: 99999px;
    text-transform: uppercase;
    font-family: "VAG Rounded Std", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 650;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 13px 70px 0px 0px;
    text-decoration: none;
}

#btn2{
    background: #008BFF;
}

#btn3{
    background: #FF7400;
}

#btn4{
    background: #ff3e3e;
}

#btn5{
    background: #Ffe014;
}

#btn6{
    background: #49a713;
}

.icon{
    margin-top: unset;
    margin-bottom: unset;
    margin-left: unset;
    margin-right: 0.5rem;
    height: 30px;
    width: auto;
}

.btm:hover img, .logo:hover{
    transform: rotate(360deg) scale(.95);
    transition: 2.5s;
}

#btn2:hover{
    background: #0878d4;
    transition: .4s;
}

#btn3:hover{
    background: #e76c06;
    transition: .4s;
}

#btn4:hover{
    background: #f82424;
    transition: .4s;
}

#btn5:hover{
    background: #f5d400;
    transition: .4s;
}

#btn6:hover{
    background: #2e7903;
    transition: .4s;
}




/* carrusel */

.carrousel{
    margin-top: 1%;
    width: 100%;
    height: 45vw;
    background: url(img/5.png) no-repeat center center;
    background-size: 100%;
    display: flex;
}
 
.conteCarrousel{
    width: 85%;
    height: 65%;
    overflow: hidden;
    margin: 3% 2.5% 6% 24%;
}

.itemCarrousel{
    position: relative;
    width: 100%;
    height: 100%;
}

.itemCarrouselTarjeta{
    width: 100%;
    height: 100%;
}

.itemCarrouselArrows{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px; 
}

.itemCarrouselArrows > i:hover {
    cursor: pointer;
}

#itemCarrousel-1{
    background: url(img/Diseño\ sin\ título\ \(1\).png) no-repeat center center;
    background-size: 100%;
}

#itemCarrousel-2{
    background: url(img/1.png) no-repeat center center;
    background-size: 100%;
}

#itemCarrousel-3{
    background: url(img/1.png) no-repeat center center;
    background-size: 100%;
}






/* Footer */

.footer{
    background-color: white;
    padding-top: 40px;
    font-size: 15px;
    line-height: 24px;
    color: #303030;
}

.footer h6{
    color: black;
    font-size: 17px;
    text-transform: uppercase;
    margin-top: 5px;
    letter-spacing: 2px;
}

.footer a{
    color:#303030;
    text-decoration: none;
}

.footer-links{
    padding-left: 0;
    list-style: none;
    color: #303030;
}

.footer-links li{
    display: block;
}


.icon-redSocial{
    display: flex;
    justify-content: center;
    list-style: none;
}

.icon-redSocial li{
    margin: 0 10px;
}

.icon-redSocial li a{
    font-size: 25px;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    position: relative;
    transition: 0.5s ease;
    background: linear-gradient(45deg, #ff1929, #ff8019, #faa320);
}

.icon-redSocial li a:hover{
    background-image: linear-gradient(45deg, #ff1929, #ff8019, #faa320);
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 40px;
}

.icon-redSocial li a::before{
    content: "";
    position: absolute;
    z-index: -1;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background: linear-gradient(45deg, #ff1929, #ff8019, #faa320);
    transform: scale(1);
    transition: 0.5s ease-in-out;
}

.icon-redSocial li a:hover::before{
    transform: scale(0);
}


.footer-img-fondo{
    background: url(fondos/fondo-footer.png) scroll center 0;
    width: 100%;
    height: 266px;
    position: absolute;
    bottom: 0px;
}

.footer-img-fondo .footer-auto{
    background: url("https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEia0PYPxwT5ifToyP3SNZeQWfJEWrUENYA5IXM6sN5vLwAKvaJS1pQVu8mOFFUa_ET4JuHNTFAxKURFerJYHDUWXLXl1vDofYXuij45JZelYOjEFoCOn7E6Vxu0fwV7ACPzArcno1rYuVxGB7JY6G7__e4_KZW4lTYIaHSLVaVLzklZBLZnQw047oq5-Q/s16000/volks.gif") no-repeat center center;
    width: 330px;
    height: 105px;
    background-size:100%;
    position:absolute;
    bottom: 0px;
    left: 30%;
    -webkit-animation: myfirst 22s linear infinite;
    animation: myfirst 22s linear infinite;
}

.footer-img-fondo .footer-bici{
    background: url("https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhyLGwEUVwPK6Vi8xXMymsc-ZXVwLWyXhogZxbcXQYSY55REw_0D4VTQnsVzCrL7nsyjd0P7RVOI5NKJbQ75koZIalD8mqbMquP20fL3DxsWngKkOLOzoOf9sMuxlbyfkIBTsDw5WFUj-YJiI50yzgVjF8cZPHhEjkOP_PRTQXDHEq8AyWpBiJdN9SfQA/s16000/cyclist.gif") no-repeat center center;
    width: 88px;
    height: 100px;
    background-size: 100%;
    position: absolute;
    bottom: 0px;
    left: 13%;
    -webkit-animation: myfirst 30s linear infinite;
    animation: myfirst 30s linear infinite;
}

.new_footer_top {
    padding: 15px 0px 270px;
    position: relative;
      overflow-x: hidden;
}


@-moz-keyframes myfirst {
    0% {
      left: -25%;
    }
    100% {
      left: 100%;
    }
  }
  
  @-webkit-keyframes myfirst {
    0% {
      left: -25%;
    }
    100% {
      left: 100%;
    }
  }
  
  @keyframes myfirst {
    0% {
      left: -25%;
    }
    100% {
      left: 100%;
    }
  }





 
@media (max-width:767px){
    .footer{
      padding-bottom:0
    }

    .footer .copyRight-text,.footer .icon-redSocial{
      text-align:center
    }

    .icon-redSocial li.title{
        display: block;
        margin-right: 0;
        font-weight: 600;
    }

  }


@media (max-width: 1215px){
    .enlace{
        padding-left: 20px;
    }
    .btm{
        font-size: 12px;
        margin: 20px 20px 0px 0px;   
    }   
    
}

@media(max-width: 980px){
    div .non-sm{
        display: none;
    }
    .non-xl{
        display: block;
    }

    .footer [class^=col-]{
        margin-bottom:30px
      }
}

@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    #check:checked ~ ul{
        left: 0;
    }
    .logo{
        height: 40px;
    }
    nav{
        position: fixed;
        top: 0px;
        z-index: 2;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: rgba(255, 255, 255, 0.742);
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 20px 0;
        line-height: 30px;
    }
    .btm{
        font-size: 17px;
        color: black;
    }
    .btm:hover{
        color: white;
    }
    iframe{
        width: 350px;
        height: 200px;
    }
    .boton-fondo{
        height: 250px;
        
    }
}



