*{ 
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

nav{
    background: white;
    height: 80px; 
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
}

.enlace{
    position: absolute;
    padding: 0px 25px;
}

.logo{
    height: 85px;
    display: inline-flex;
}

nav ul{
    float: right;
    margin-right: 20px;
    z-index: 2;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

.checkbtn{
    font-size: 30px;
    color: black;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}

body{
    background: rgba(74, 218, 30, 0.801);
}

section{
    background-size: cover;
    background-position: center center;
    height: calc(100vh - 80px);
}

.transportes{
    background: rgba(74, 218, 30, 0.801);
}

.btm{
    height: 50px;
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 9999px;
    text-transform: uppercase;
    font-family: "VAG Rounded Std", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 650;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 20px 70px 0px 0px;
}

#btn2{
    background: #008BFF;
}

#btn3{
    background: #FF7400;
}

#btn4{
    background: #ff3e3e;
}

#btn5{
    background: #Ffe014;
}

#btn6{
    background: #49a713;
}

.icon{
    margin-top: unset;
    margin-bottom: unset;
    margin-left: unset;
    margin-right: 0.5rem;
    height: 30px;
    width: auto;
}

.btm:hover img, .logo:hover{
    transform: rotate(360deg) scale(.95);
    transition: 2.5s;
}

#btn2:hover{
    background: #0878d4;
    transition: .4s;
}

#btn3:hover{
    background: #e76c06;
    transition: .4s;
}

#btn4:hover{
    background: #f82424;
    transition: .4s;
}

#btn5:hover{
    background: #f5d400;
    transition: .4s;
}

#btn6:hover{
    background: #2e7903;
    transition: .4s;
}

.container-Transporte{
    width: 100%;
    height: 250px;
    background: white;
    margin: 100px 0px;
    display: flex;
    align-items: center;
}

.imgTran {
    height: 150px;
    width: auto;
}

.imgLetra{
    height: 80px;
    width: auto;
}

.izq{
    padding-left: 50px;
    
}

.der{
    padding-right: 100px;
    padding-left: 250px;
}


.btn1 {
    text-decoration: none;
    outline: none;
}






/* card que gira */
.card{
    position: relative;
    width: 300px;
    height: 400px;
}

.card div{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    backface-visibility: hidden;
    transition: 1s;
}
.card .front{
    background:#288ca0 ;
    transform:perspective(500px) rotateY(0deg);
}

.card .back{
    background:#682fc4 ;
    transform:perspective(500px) rotateY(180deg);
}

.card:hover .front{
    transform:perspective(500px) rotateY(180deg);
}

.card:hover .back{
    transform:perspective(500px) rotateY(360deg);
}

.card div h1{
    font-size: 100px;
    color: #f1f1f1;
}

.container-Transporte{
    background-image: url("img/calle.png");
}







/* Estilo de los botones */

/* primer boton */
.btn1 {
    background: transparent;
    color: #0099CC;
    border: 2px solid #0099CC ;
    border-radius: 6px;
    background-color: white;
    color: black;
    border: 2px solid #008CBA;
    height: 100px;
    width: auto;
    margin-left: 250px;
    
}

 .btn1:hover{
     background-color: #008CBA;
     color: white;
 }

 .bicicleta{
     border: none;
     color: black;
     padding: 16px 32px;
     text-align: center;
     display: inline-block;
     font-size: 16px;
     margin: 4px 2px;
     transition-duration: 0.4s;
     cursor: pointer;
     text-decoration: none;
     text-transform: uppercase;
     font-size: 50px;
 }

/* segundo boton (moto) */

.btn2 {
    background: transparent;
    color: #0099CC;
    border: 2px solid #0099CC ;
    border-radius: 6px;
    background-color: white;
    color: black;
    border: 2px solid #008CBA;
    height: 100px;
    width: auto;
    margin-left: 250px;
    
}

 .btn2:hover{
     background-color: #008CBA;
     color: white;
 }

 .moto{
     border: none;
     color: black;
     padding: 16px 32px;
     text-align: center;
     display: inline-block;
     font-size: 16px;
     margin: 4px 2px;
     transition-duration: 0.4s;
     cursor: pointer;
     text-decoration: none;
     text-transform: uppercase;
     font-size: 50px;
 }


/* tercer boton (auto) */

.btn3 {
    background: transparent;
    color: #0099CC;
    border: 2px solid #0099CC ;
    border-radius: 6px;
    background-color: white;
    color: black;
    border: 2px solid #008CBA;
    height: 100px;
    width: auto;
    margin-left: 250px;
    
}

 .btn3:hover{
     background-color: #008CBA;
     color: white;
 }

 .auto{
     border: none;
     color: black;
     padding: 16px 32px;
     text-align: center;
     display: inline-block;
     font-size: 16px;
     transition-duration: 0.4s;
     cursor: pointer;
     text-decoration: none;
     text-transform: uppercase;
     font-size: 50px;
 }

 /* cuarto boton (ambulancia) */

.btn4 {
    background: transparent;
    color: #0099CC;
    border: 2px solid #0099CC ;
    border-radius: 6px;
    background-color: white;
    color: black;
    border: 2px solid #008CBA;
    height: 100px;
    width: auto;
    margin-left: 250px;
    
}

 .btn4:hover{
     background-color: #008CBA;
     color: white;
 }

 .ambulancia{
     border: none;
     color: black;
     padding: 16px 32px;
     text-align: center;
     display: inline-block;
     font-size: 16px;
     margin: 4px 2px;
     transition-duration: 0.4s;
     cursor: pointer;
     text-decoration: none;
     text-transform: uppercase;
     font-size: 50px;
 }

 /* quinto boton (autobomba) */

.btn5 {
    background: transparent;
    color: #0099CC;
    border: 2px solid #0099CC ;
    border-radius: 6px;
    background-color: white;
    color: black;
    border: 2px solid #008CBA;
    height: 100px;
    width: auto;
    margin-left: 250px;
    
}

 .btn5:hover{
     background-color: #008CBA;
     color: white;
 }

 .autobomba{
     border: none;
     color: black;
     padding: 16px 32px;
     text-align: center;
     display: inline-block;
     font-size: 16px;
     margin: 4px 2px;
     transition-duration: 0.4s;
     cursor: pointer;
     text-decoration: none;
     text-transform: uppercase;
     font-size: 50px;
 }

 /* sexto boton (colectivo) */

.btn6 {
    background: transparent;
    color: #0099CC;
    border: 2px solid #0099CC ;
    border-radius: 6px;
    background-color: white;
    color: black;
    border: 2px solid #008CBA;
    height: 100px;
    width: auto;
    margin-left: 250px;
    
}

 .btn6:hover{
     background-color: #008CBA;
     color: white;
 }

 .colectivo{
     border: none;
     color: black;
     padding: 16px 32px;
     text-align: center;
     display: inline-block;
     font-size: 16px;
     margin: 4px 2px;
     transition-duration: 0.4s;
     cursor: pointer;
     text-decoration: none;
     text-transform: uppercase;
     font-size: 50px;
 }

/* septimo boton (camion) */

.btn7 {
    background: transparent;
    color: #0099CC;
    border: 2px solid #0099CC ;
    border-radius: 6px;
    background-color: white;
    color: black;
    border: 2px solid #008CBA;
    height: 100px;
    width: auto;
    margin-left: 250px;
    
}

 .btn7:hover{
     background-color: #008CBA;
     color: white;
 }

 .camion{
     border: none;
     color: black;
     padding: 16px 32px;
     text-align: center;
     display: inline-block;
     font-size: 16px;
     transition-duration: 0.4s;
     cursor: pointer;
     text-decoration: none;
     text-transform: uppercase;
     font-size: 50px;
 }

 /* octavo boton (tren) */

.btn8 {
    background: transparent;
    color: #0099CC;
    border: 2px solid #0099CC ;
    border-radius: 6px;
    background-color: white;
    color: black;
    border: 2px solid #008CBA;
    height: 100px;
    width: auto;
    margin-left: 50px;
    
}

 .btn8:hover{
     background-color: #008CBA;
     color: white;
 }

 .tren{
     border: none;
     color: black;
     padding: 16px 32px;
     text-align: center;
     display: inline-block;
     font-size: 16px;
     transition-duration: 0.4s;
     cursor: pointer;
     text-decoration: none;
     text-transform: uppercase;
     font-size: 50px;
     margin-bottom: 200px;
 }

/* FONDOS
    fondo1: calle simple
    fondo2: senda Izq
    fondo3: sendaDer 
    fondo4: el tren papaa */

.fondo1{
    background-image: url("img/transportes/calleSimple.png");
}

.fondo2{
    background-image: url("img/transportes/sendaIzq.png");
}

.fondo3{
    background-image: url("img/transportes/sendaDer.png");
}

.fondo4{
    background-image: url("img/transportes/viaDelTren.png");
}









/* card que gira */
.card{
    position: relative;
    width: 300px;
    height: 400px;
}

.card div{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    backface-visibility: hidden;
    transition: 1s;
}
.card .front{
    background:#288ca0 ;
    transform:perspective(500px) rotateY(0deg);
}

.card .back{
    background:#682fc4 ;
    transform:perspective(500px) rotateY(180deg);
}

.card:hover .front{
    transform:perspective(500px) rotateY(180deg);
}

.card:hover .back{
    transform:perspective(500px) rotateY(360deg);
}

.card div h1{
    font-size: 100px;
    color: #f1f1f1;
}





  



/* Footer */

.footer{
    background-color: white;
    padding-top: 40px;
    font-size: 15px;
    line-height: 24px;
    color: #303030;
}

.footer h6{
    color: black;
    font-size: 17px;
    text-transform: uppercase;
    margin-top: 5px;
    letter-spacing: 2px;
}

.footer a{
    color:#303030;
    text-decoration: none;
    font-size: 15px;
}

.footer-links{
    padding-left: 0;
    list-style: none;
    color: #303030;
}

.footer-links li{
    display: block;
}

/*.footer .icon-redSocial{
    text-align: right;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.footer .icon-redSocial a{
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-left: 6px;
    margin-right: 8px;
    border-radius: 100%;
    background-color: #969292;
    color: #5e5e5e;
    font-size: 16px;
    display: inline-block;
    text-align: center;
    -webkit-transition:all .2s linear;
    -o-transition:all .2s linear;
    transition:all .2s linear
}

.icon-redSocial li{
    display: inline-block;
    margin-bottom: 4px;
}

.icon-redSocial li.title{
    margin-right: 15px;
    text-transform: uppercase;
    color: #8a9196;
    font-weight: 700;
    font-size: 13px;
}

.icon-redSocial.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}*/

.icon-redSocial{
    display: flex;
    justify-content: center;
    list-style: none;
}

.icon-redSocial li{
    margin: 0 10px;
}

.icon-redSocial li a{
    font-size: 25px;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    position: relative;
    transition: 0.5s ease;
    background: linear-gradient(45deg, #0c770c, #07c507, #10fa10);
}

.icon-redSocial li a:hover{
    background-image: linear-gradient(45deg, #0c770c, #07c507, #10fa10);
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 40px;
}

.icon-redSocial li a::before{
    content: "";
    position: absolute;
    z-index: -1;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background: linear-gradient(45deg, #0c770c, #07c507, #10fa10);
    transform: scale(1);
    transition: 0.5s ease-in-out;
}

.icon-redSocial li a:hover::before{
    transform: scale(0);
}

.footer-img-fondo{
    background: url(fondos/fondo-footer.png) scroll center 0;
    width: 100%;
    height: 266px;
    position: absolute;
    bottom: 0px;
}

.footer-img-fondo .footer-auto{
    background: url("https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEia0PYPxwT5ifToyP3SNZeQWfJEWrUENYA5IXM6sN5vLwAKvaJS1pQVu8mOFFUa_ET4JuHNTFAxKURFerJYHDUWXLXl1vDofYXuij45JZelYOjEFoCOn7E6Vxu0fwV7ACPzArcno1rYuVxGB7JY6G7__e4_KZW4lTYIaHSLVaVLzklZBLZnQw047oq5-Q/s16000/volks.gif") no-repeat center center;
    width: 330px;
    height: 105px;
    background-size:100%;
    position:absolute;
    bottom: 0px;
    left: 30%;
    -webkit-animation: myfirst 22s linear infinite;
    animation: myfirst 22s linear infinite;
}

.footer-img-fondo .footer-bici{
    background: url("https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhyLGwEUVwPK6Vi8xXMymsc-ZXVwLWyXhogZxbcXQYSY55REw_0D4VTQnsVzCrL7nsyjd0P7RVOI5NKJbQ75koZIalD8mqbMquP20fL3DxsWngKkOLOzoOf9sMuxlbyfkIBTsDw5WFUj-YJiI50yzgVjF8cZPHhEjkOP_PRTQXDHEq8AyWpBiJdN9SfQA/s16000/cyclist.gif") no-repeat center center;
    width: 88px;
    height: 100px;
    background-size: 100%;
    position: absolute;
    bottom: 0px;
    left: 13%;
    -webkit-animation: myfirst 30s linear infinite;
    animation: myfirst 30s linear infinite;
}

.new_footer_top {
    padding: 15px 0px 270px;
    position: relative;
      overflow-x: hidden;
}

/*.facebook {
    background: url(icono/facebook.png);
    background-size: 95%;
}*/

@-moz-keyframes myfirst {
    0% {
      left: -25%;
    }
    100% {
      left: 100%;
    }
  }
  
  @-webkit-keyframes myfirst {
    0% {
      left: -25%;
    }
    100% {
      left: 100%;
    }
  }
  
  @keyframes myfirst {
    0% {
      left: -25%;
    }
    100% {
      left: 100%;
    }
  }

.footer a:hover{
    color: #15619e;
}




 
@media (max-width:767px){
    .footer{
      padding-bottom:0
    }

    .footer .copyRight-text,.footer .icon-redSocial{
      text-align:center
    }

    .icon-redSocial li.title{
        display: block;
        margin-right: 0;
        font-weight: 600;
    }

  }


@media (max-width: 1215px){
    .enlace{
        padding-left: 20px;
    }
    .btm{
        font-size: 12px;
        margin: 20px 20px 0px 0px;   
    }   
    
}

@media(max-width: 980px){
    div .non-sm{
        display: none;
    }
    .non-xl{
        display: block;
    }

    .footer [class^=col-]{
        margin-bottom:30px
      }
}

@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    #check:checked ~ ul{
        left: 0;
    }
    .logo{
        height: 40px;
    }
    nav{
        position: fixed;
        top: 0px;
        z-index: 2;
    }
    #sub-principio{
        padding-top: 50px;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: rgba(255, 255, 255, 0.742);
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 20px 0;
        line-height: 30px;
    }
    .btm{
        font-size: 17px;
        color: black;
    }
    .btm:hover{
        color: white;
    }
    .non{
        display: none;
    }
    .icono-contenido{
        display: none;
    }
    #contenido{
        background: url(icono/icono.png), white;
        background-repeat: no-repeat;
        background-position: right top;
        background-size: 100px;
    }
    #contenido h1{
        font-size: 18px;
        margin: 20px;
    }
    #contenido p{
        font-size: 16px;
        margin: 20px;
    }
}