* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    transition: all 1s;
}

body {
    background: url('images/Fondo.gif') no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 250vh;
}

main {
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    height: 100%;
}

.container {
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.edu {
    background: transparent;
    backdrop-filter: blur(9px);
    display: grid;
    border: 0.5px solid;
    border-radius: 20px;
    text-align: center;
    justify-content: center;
    justify-items: center;
    padding: 30px;
    width: 1200px;
    height: 500px;
    box-shadow: 7px 10px 30px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 7px 10px 30px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 7px 10px 30px 0px rgba(0, 0, 0, 0.75);
}

.seccion1 {
    transition: all 0.5s;
}

.seccion1:hover {
    transform: scale(1.1);
}

.seccion1 img:hover {
    transform: scale(1.2);
}

.seccion2 {
    transition: all 0.5s;
}

.seccion2:hover {
    transform: scale(1.1);
}

.seccion2 img:hover {
    transform: scale(1.2);
}

.seccion3 {
    transition: all 0.5s;
}

.seccion3 img:hover {
    transform: scale(1.1);
}

.seccion3:hover {
    transform: scale(1.1);
}

.edu h2 {
    color: white;
    font-size: 30px;
}

.vial {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px;
    align-items: center;
}

.vial h2 {
    color: white;
    font-size: 40px;
}

.vial p {
    color: white;
    font-size: 20px;
    padding: 10px;
}

.vial a {
    color: black;
    text-decoration: none;
}

.edu h1 {
    color: white;
    font-size: 60px;
}

.edu button {
    width: 180px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: white;
    box-shadow: 7px 10px 30px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 7px 10px 30px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 7px 10px 30px 0px rgba(0, 0, 0, 0.75);
}


.edu button:hover {
    background-color: rgb(189, 180, 180);
}

h3 a {
    color: rgb(156, 151, 151);
    text-decoration: none;
}

h3 a:hover {
    color: rgb(68, 68, 205);
}

h3 {
    margin: 30px;
    font-size: 20px;
}

html {
    overflow: hidden;
}

#Marca {
    position: relative;
    top: 90px;
    left: 43rem;
}

#Marca p {
    color: #aaa9a9;
}

@media (width: 320px) {
    body {
        width: 100%;
        height: 100%;
    }

    .container {
        padding-top: 0;
        margin-top: 10px;
    }

    .edu {
        width: 300px;
        height: auto;
    }

    .edu h1 {
        font-size: 30px;
    }

    .edu h2 {
        font-size: 20px;
    }

    .vial {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        padding: 30px;
    }
}

@media (max-width: 767px) {
    body {
        width: 100%;
        height: 100%;
    }

    .container {
        padding-top: 0;
        margin-top: 10px;
    }

    .edu {
        width: 300px;
        height: auto;
    }

    .edu h1 {
        font-size: 30px;
    }

    .edu h2 {
        font-size: 20px;
    }

    .seccion1 {
        padding: 10px;
    }

    .seccion1 button {
        padding: 15px;
    }

    .seccione3 img {
        width: 70px;
    }

    .vial {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        padding: 30px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    body {
        width: 100%;
        height: 778px;
    }

    .container {
        max-width: 800px;
        padding: 15px;
    }

    .edu {
        width: 700px;
        height: auto;
    }

    .edu h1 {
        font-size: 30px;
    }

    .edu h2 {
        font-size: 20px;
    }

    .seccione3 img {
        width: 70px;
    }
}

@media (min-width: 1024px) {
    body {
        width: 100%;
        height: 100vh;
    }

    .container {
        max-width: 800px;
        padding: 15px;
    }

    .edu {
        width: 900px;
        height: 500px;
    }

    .edu h1 {
        font-size: 50px;
    }

    .edu h2 {
        font-size: 30px;
    }

    .seccion3 img {
        width: 90px;
    }

    .container {
        max-width: 1200px;
        padding: 20px;
    }
}