*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    font-family: monospace;
}
header{
    display: grid;
    grid-template-columns: 1fr 700px;
    align-items: center;
    height: 100px;
}
ul{
    list-style: none;
}
li{
    display: inline-flex;
    padding: 20px;
    font-size: 20px;
    border: 2px solid rgb(252, 71, 71);
    border-radius: 30px;
    background: rgb(214, 3, 3);
    
}